extends layouts/main
include mixins/contentBlock
include mixins/followingBlock

block content
    .homeBox.mainWrap
        div
            each item in contents
                +contentBlock({
                    idx: item.idx,
                    creator_idx: item.creator_idx,
                    creator: item.creator,
                    creator_email: item.creator_email,
                    profile_img: item.profile_img,
                    fileUrl: item.fileUrl,
                    hash_tag: item.hash_tag,
                    value:  item.value,
                    date: item.regdate,
                    reply:item.reply,
                    likes: item.likes,
                })
        .userInfoBox
            if locals.isLogin
                a(href=`/users/${user.idx}`) 
                    .userInfo 
                        .avatar(style=`background-image:url("${user.profile_img}")`)
                        .userName 
                            p #{user.nickname}
                            span #{user.email}
                input(type='hidden', id='user_email', value=locals.user.email)

            .followerBox 
                h2 추천 팔로우 리스트
                each item in bestFollowing
                    +followingBlock({
                        idx : item.idx,
                        nickname : item.nickname,
                        email : item.email,
                        count : item.count,
                        profile_img : item.profile_img
                    })         
                
        .modal.hidden
            .modal__overlay
            .modal__content
                h1 좋아요를 남기려면 로그인 하세요.
                button 로그인
                button.btn2 가입하기
                button.btn3 나중에 하기