extends layouts/main
include mixins/contentBlock

block content
    .homeBox.mainWrap
        div
            each item in contents
                +contentBlock({
                    idx: item.idx,
                    creator_idx: item.creator_idx,
                    creator: item.creator,
                    creator_email: item.creator_email,
                    profile_img: item.profile_img,
                    fileUrl: item.fileUrl,
                    title: item.title,
                    value:  item.value,
                    date: item.regdate,
                    reply:item.reply,
                    likes: item.likes,
                })
        .userInfoBox
            if locals.isLogin
                a(href=`/users/${user.idx}`) 
                    .userInfo 
                        .avatar(style=`background-image:url("${user.profile_img}")`)
                        .userName 
                            p #{user.nickname}
                            span #{user.email}
                .followerBox 팔로워 리스트
                input(type='hidden', id='user_email', value=locals.user.email)
            else         
                .followerBox 추천 팔로워 리스트
        .modal.hidden
            .modal__overlay
            .modal__content
                h1 좋아요를 남기려면 로그인 하세요.
                button 로그인
                button.btn2 가입하기
                button.btn3 나중에 하기