extends layouts/main
include mixins/contentBlock

block content
    .userBox.mainWrap
        .userInfoBox 
            .userInfo 
                .avatar(style=`background-image:url("${userInfo.profile_img}")`)
                div
                    .userName 
                        p #{userInfo.nickname}
                        span #{userInfo.email}
                    p.userIntroduction #{userInfo.introduce_text}
                    if (locals.isLogin)
                        ul.userBtn  
                            li.fas.fa-user-plus.icon(onclick=``) 팔로잉
                            if(userInfo.idx === locals.user.idx)
                                li.fas.fa-user-edit.icon(onclick=`location.href='/users/${userInfo.idx}/edit'`) 프로필 편집
                                li.fas.fa-sign-out-alt.icon(onclick=`location.href='/logout'`) 로그아웃
                        //- input(type='hidden', id='user_email', value=locals.user.email)
                        //- input(type='hidden', id='user_nicknema', value=locals.user.nickname)
        ul.accountInfo
            li 게시물 
                span #{contents.length}
            li 팔로잉 
                span -
            li 팔로워
                span -
        .userContentWrap
            each item in contents
                +userContentBlock({
                    idx: item.idx,
                    creator: item.creator,
                    hash_tag:item.hash_tag,
                    fileUrl: item.fileUrl,
                    value:  item.value,
                    date: item.regdate
                })