mixin contentBlock(content = {})
    .contentsBox
        .contentsHeader
            .creatorBox
                .avatar #{`avatar`}
                span.creator
            div #{content.title} 
            .moreBtn.fas.fa-ellipsis-v
        .contentsBody(style=`background-image:url("${content.fileUrl}")`)
        .contentsFooter 
            .iconBox
                .like
                .comment
                .carousel
            .likeCnt #{`좋아요 0개`}
            .contents #{'내용 :'+content.value}
            div #{'댓글 0개 보기'}
            div #{'댓글달기'}

mixin userContentBlock(content = {})
    .contentsBox
        .contentsBody(style=`background-image:url("${content.fileUrl}")`)
