include ./uiBlock

mixin contentBlock(content = {})
    .contentsBox
        .contentsHeader
            .creatorBox(onclick=`location.href='/users/${content.creator_idx}'`)
                .avatar(style=`background-image:url("${content.profile_img}")`)
                .creator 
                    p #{content.creator}
                    p #{content.creator_email}
            if (locals.isLogin && content.creator_email === locals.user.email)
                form(action=routes.CONTENTS_DELETE(content.idx), method='post')
                    .moreBtn.fas.fa-ellipsis-v
                        ul
                            li.deleteBtn(data-id=content.idx, data-email=content.creator_email) 삭제
                            li 
                                a(href=routes.CONTENTS_EDIT(content.idx,content.creator_email)) 수정
            else
                div
        .contentsBody(style=`background-image:url("${content.fileUrl}")`)
        .contentsFooter 
            .iconBox
                span.like.far.fa-heart
                span.comment.far.fa-comment(onclick=`location.href='/contents/detail/${content.idx}'`)
                input(type='hidden', name='content_id', value=content.idx)
            .likeCnt 
                span #{`좋아요 0개`}
                input(name='likes' type='hidden' value=`${content.likes}`)
            .hashList
                span #{content.hash_tag}
            .contents #{content.value}
                //- span #{`댓글 ${content.reply.length}개 보기`}

mixin userContentBlock(content = {})
    .contentsBox(onclick=`location.href='/contents/detail/${content.idx}'`)
        .contentsBody(style=`background-image:url("${content.fileUrl}")`)
            //- span.likeIcon.far.fa-heart
            //-      input(name='likes' type='hidden' value=`${content.likes}`)
            .contentsWrap 
                .hashList
                    span #{content.hash_tag}
