mixin contentBlock(content = {})
    .contentsBox
        .contentsHeader
            .avatar #{`avatar`}
            span.creator #{content.creator} 
        .contentsBody(style=`background-image:url("${content.fileUrl}")`)
        .contentsFooter 
            .iconBox
                .like
                .comment
                .carousel
            .likeCnt #{`좋아요 0개`}
            .contents #{content.creator} #{'내용 :'+content.value}
            div #{'댓글 0개 보기'}
            div #{'댓글달기'}
