mixin followingBlock(bestFollowing = {})
  .userInfo(onclick=`location.href='/users/${bestFollowing.idx}'`)
    .avatar(style=`background-image:url("${bestFollowing.profile_img}")`)
    .userName 
      p #{bestFollowing.nickname}
      span #{bestFollowing.email}
      span.follower 팔로워 #{bestFollowing.count}명

