mixin replyBlock(content = {})
        li 
            a(href=`/users/${content.user_idx}`) 
                .avatar(style=`background-image:url("${content.profile_img}")`)
                span.creator #{content.nickname}
                p #{content.reply}
            p.regdate #{content.regdate}